*{
    margin: 0px;
}

.header{
    background-color: #0dade2;
    height: 100px;
    width: 100%;
    

}
.nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 15px;
    display: inline-flexbox;
    text-decoration: none;
    list-style: none;

}
.top_img{
    width: 130px;
    height: 50px;
}
.secondnav{
    background-color: #0dade2;
    height: 150px;
    flex-wrap: wrap;
}
.first{
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.box{
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.second{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content:center;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.boxsecond{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.four{
    background-color: #094b61;
    width: 200px;
    height: 30px;
    margin: 10px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 7px;

}
.fourtwo{
    border: 2px;
    padding-top: 16px;
}
.acadiv{
    padding-top: 50px;
}